{% comment %}
  Django messages framework renderer.

  Bridges the server-side messages framework to the Alpine `user-toast`
  event stack defined in `core/base.html`. Each message dispatches a
  `user-toast` event on load so all toasts share the same animation /
  auto-dismiss pipeline as HTMX-driven toasts.
{% endcomment %}
{% if messages %}
  <div x-data="{}"
       x-init="
         {% for message in messages %}
           $dispatch('user-toast', {
             message: '{{ message|escapejs }}',
             type: '{% if message.tags == 'error' %}error{% elif message.tags == 'warning' %}warning{% elif message.tags == 'info' %}info{% elif message.tags == 'success' %}success{% else %}info{% endif %}'
           });
         {% endfor %}
       "
       x-cloak></div>
{% endif %}
