{% comment %}HTMX: replaces #cal-calendar-main (outerHTML).{% endcomment %}
{% include "components/calendar/_calendar_period_nav.html" with calendar_nav_oob=True %}
{% if calendar_show_week_view %}
{% include "components/calendar/_view_mode_toggle.html" with calendar_nav_oob=True %}
{% endif %}
{% if calendar_show_doctor_filter %}
<div id="cal-doctor-filter-wrap" hx-swap-oob="innerHTML" class="{% if calendar_view_mode != 'week' or not calendar_show_week_view %}lg:col-span-2 {% endif %}-mx-1">
  {% include "components/calendar/_calendar_filters.html" %}
</div>
{% endif %}
<div id="cal-calendar-main" class="{% include 'components/calendar/_calendar_main_classes.html' %}">
  {% include "components/calendar/_calendar_main_inner.html" %}
</div>
